body{
	text-align: center;
	padding-top: 50px;
}

h1{
	font-family: 'Slabo 27px', serif;
}

form{
	display: none;
}

input{
	border: none;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	width: 200px;
}

/*
isso aqui é um bloco de comentário,

linhas de comentário são textos que a programação não interpreta,
permitindo deixar recados na programação sem comprometer o código.

cada linguagem tem a sua maneira de criar linhas de comentário,
você consegue encontrar uma linha de comentário no arquivo HTML?
*/

#aviso{
	display:none;
	font-family: 'Slabo 27px', serif;
	margin-top: 40px;
	color:#900;
}

.botao{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding: 10px;
	font-weight: bold;
	background-color: #CCC;
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
}

input:focus{
	box-shadow: 0;
	outline: none;
}

.botao:hover{
	background-color: #999;
}

input, .botao{
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}